In [56]:
#test

In [39]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.0.19)
Requirement already satisfied: typing-extensions>=4.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [40]:
pip install requests

Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests) (2023.7.22)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd
import sqlalchemy as sa
import requests

In [42]:
db_secret = {
    'drivername' : 'postgresql+psycopg2',
    'host'       : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port'       : '5432',
    'user'       : 'mallik98',
    'password'   : '2023!Schulich',
    'database'   : 'mban_db'
}

In [43]:
db_connection_url = sa.engine.URL.create(
    drivername    = db_secret['drivername'],
    username      = db_secret['user'],
    password      = db_secret['password'],
    host          = db_secret['host'],
    port          = db_secret['port'],
    database      = db_secret['database']
)

In [44]:
print(db_connection_url)

postgresql+psycopg2://mallik98:***@mmai5100postgres.canadacentral.cloudapp.azure.com:5432/mban_db

In [45]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.9.7)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [46]:
engine = sa.create_engine(db_connection_url)

In [47]:
with engine.connect() as conn:
    date_dimension = pd.read_sql(sql='SELECT * FROM dimensions.date_dimension;', con = conn)

In [48]:
date_dimension

,sk_date,date,day_name,day_of_month,day_of_year,month,month_name,year,year_week,week,running_week,year_quarter,quarter,running_quarter
0,20190101,2019-01-01,Tuesday,1,1,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
1,20190102,2019-01-02,Wednesday,2,2,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
2,20190103,2019-01-03,Thursday,3,3,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
3,20190104,2019-01-04,Friday,4,4,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
4,20190105,2019-01-05,Saturday,5,5,1,January,2019,2019-W01,W01,1,2019-Q1,Q1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,20231227,2023-12-27,Wednesday,27,361,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1822,20231228,2023-12-28,Thursday,28,362,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1823,20231229,2023-12-29,Friday,29,363,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1824,20231230,2023-12-30,Saturday,30,364,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20
1825,20231231,2023-12-31,Sunday,31,365,12,December,2023,2023-W52,W52,261,2023-Q4,Q4,20

In [49]:
db_secret = {
  'drivername' : 'postgresql+psycopg2',
    'host'       : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port'       : '5432',
    'user'       : 'mallik98',
    'password'   : '2023!Schulich',
    'database'   : 'mallik98_db'
}

In [50]:
db_connection_url = sa.engine.URL.create(
    drivername    = db_secret['drivername'],
    username      = db_secret['user'],
    password      = db_secret['password'],
    host          = db_secret['host'],
    port          = db_secret['port'],
    database      = db_secret['database']
)

In [51]:
print(db_connection_url)

postgresql+psycopg2://mallik98:***@mmai5100postgres.canadacentral.cloudapp.azure.com:5432/mallik98_db

In [52]:
engine = sa.create_engine(db_connection_url)

In [55]:
date_dimension.to_sql(
    name = 'date_dimension',
    schema = 'final_exam',
    con = engine,
    if_exists = 'replace',
    index=False,
    method='multi',
    dtype= {
        'sk_date' : sa.types.INTEGER,
        'date':sa.types.DATE,
        'day_name':sa.types.VARCHAR,
        'day_of_month':sa.types.INTEGER,
        'day_of_year':sa.types.INTEGER,
        'month':sa.types.INTEGER,
        'month_name':sa.types.VARCHAR,
        'year':sa.types.INTEGER,
        'year_week':sa.types.VARCHAR,
        'week':sa.types.VARCHAR,
        'running_week':sa.types.INTEGER,
        'year_quarter':sa.types.VARCHAR,
        'quarter': sa.types.VARCHAR,
        'running_quarter':sa.types.VARCHAR
         
    }   
)

1826